body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.container {
    width: 80vw;
    min-width: 80vw;
    height: 40vw;
    min-height: 40vw;
    background-color: #d3d3d3;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.5);
}

#title-button {
    background-color: #151515;
    width: 40%;
    position: absolute;
    bottom: 5vw;
    color: white;
    padding: 5px 25px;
    font-size: 2vw;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
}
#title-button:hover {
    background-color:#333;
}

.menu-buttons {
    display: none; 
    position: absolute;
    bottom: 2vw;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.menu-buttons .continue-button, 
.menu-buttons .load-button, 
.menu-buttons .gallery-button, 
.menu-buttons .exit-button

{
    background-color: #151515;
    width: 20%;
    color: white;
    padding: 5px 25px;
    font-size: 2vw;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
}

.menu-buttons .continue-button:hover,
.menu-buttons .load-button:hover,
.menu-buttons .gallery-button:hover,
.menu-buttons .exit-button:hover {
    background-color: #333;
}

.settings-icon {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2vw;
    cursor: pointer;
}

.settings-panel {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height:50%;
    padding: 20px;
    background-color: #d3d3d3;
    border: 2px solid black;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    box-sizing: border-box;
}

.settings-panel .close-button {
    position: absolute;
    bottom: 10px;
}

.settings-panel .tabs .tab-button{
    position: relative;
    border: none;
    align-items: space-between;
    border-radius: 5px 5px 0px 0px;
    background-color: #151515;
    font-size: 1.8vw;
    color: white;
    padding: 5px;
    width: 32%;
    height: 20%;
    justify-content: center;
}


.tab-content {
    flex-direction: column;
    position:relative;
    justify-content: space-around;
    padding: 10px;
    min-height: 50%;
    max-height: 50%;
}

.tab-content .save-button,
.tab-content .load-button,
.tab-content .gallery-button,
.tab-content .exit-button {
    display:flex;
    width: 80%;
    color: BLACK;
    background-color: #d3d3d3;
    font-size: 2vw;
    padding: 2px;
    border: none;
    text-align: center;
    cursor: pointer;
}

.tab-content .save-button:hover,
.tab-content .load-button:hover,
.tab-content .gallery-button:hover,
.tab-content .exit-button:hover {
    color: #909090
}

.text-container {
    font-size: 2rem;
    width: 80%;
    padding: 2rem;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    margin-top: 100px;
}
